<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Dettaglio utente</title>
</head>
<body>
    <div class="container mt-3">
        <div class="card w-100">
		  <div class="card-body">
		    <h5 class="card-title"><span th:text="${utente.nome}"></span> <span th:text="${utente.cognome}"></span></h5>
		    <p class="card-text">Email: <span th:text="${utente.email}"></span></p>
		    
            <div th:if="${modifica}">
                <form method="POST" th:action="@{/utenti/modifica}" th:object="${utente}" >
		    
                    <input type="text" th:field="*{email}" class="d-none" readonly/>
                
                    <button type="submit" class="btn btn-warning">
                        <i class="fa fa-solid fa-trash"></i> Modifica
                    </button>
                </form>
    
                <form method="POST" th:action="@{/utenti/elimina}" th:object="${utente}" >
                
                    <input type="text" th:field="*{email}" class="d-none" readonly/>
                
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-solid fa-trash"></i> Elimina
                    </button>
                </form>
            </div>

		  </div>
		</div>
    </div>
</body>
</html>